@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
  --nav-background: #f5f5f5;
  --nav-foreground: #171717;
  --link-hover-color: #2563eb;
  --card-background: #f9fafb;
  --card-foreground: #171717;
}

/* manual switch */
.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  --nav-background: #18181b;
  --nav-foreground: #ededed;
  --link-hover-color: #60a5fa;
  --card-background: #1f2937;
  --card-foreground: #f3f4f6;
}

body {
  @apply bg-[var(--background)] text-[var(--foreground)];
}
