@charset "utf-8";

/* top
----------------------------------------- */
#mainVisual {
  margin-bottom: 30px;
  text-align: center;
}

#mainVisual img {
  width: 100%;
  max-width: 480px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

#mainVisual .pc {
  display: flex;
  justify-content: center;
}

#mainVisual .sp {
  display: block;
}

/* about */
#about {
  margin-bottom: 60px;
  padding: 0 30px;
}

#about .text {
  font-size: large;
  width: 240px;
  text-align: left;
  margin-right: auto;
  margin-left: auto;
}

#about section {
  margin-bottom: 40px;
}

#about section.last {
  margin-bottom: 0;
}

#about section .icon {
  margin-bottom: 20px;
  text-align: center;
}

#about section .icon img {
  width: 49px;
  height: 51px;
}

/* profile */
#profile {
  margin-bottom: 60px;
  padding: 0 30px;
}

#profile {
  margin-bottom: 40px;
}

/* interest */
#interest {
  margin-bottom: 60px;
  padding: 0 30px;
}

#interest section {
  margin-bottom: 40px;
}

#interest section.last {
  margin-bottom: 0;
}

#interest section .icon {
  margin-bottom: 20px;
  text-align: center;
}

#interest section .icon img {
  width: 49px;
  height: 51px;
  margin-left: auto;
  margin-right: auto;
}

/* link */
#link {
  margin-bottom: 60px;
  padding: 0 30px;
}

#link section {
  margin-bottom: 40px;
}

#link section.last {
  margin-bottom: 0;
}

#link section .icon {
  margin-bottom: 20px;
  text-align: center;
}

#link section .icon img {
  width: 49px;
  height: 51px;
}

/* background */
#background {
  margin-bottom: 60px;
  padding: 0 30px;
}

#background .text {
  width: 50%;
  text-align: left;
  margin-right: auto;
  margin-left: auto;
}

#background section {
  margin-bottom: 40px;
}

#background section.last {
  margin-bottom: 0;
}

#background section .icon {
  margin-bottom: 20px;
  text-align: center;
}

#background section .icon img {
  width: 49px;
  height: 51px;
}

/* link */
#link section img {
  margin: auto;
  width: 30%;
  display: block;
  height: auto;
}

/* タブレット向け：760px～960px */
@media only screen and (min-width: 760px) {
  /* mainVisual */
  #mainVisual {
    margin-bottom: 80px;
    background-color: #ecebeb;
    text-align: center;
  }

  #mainVisual img {
    max-width: 960px;
    height: auto;
  }

  /* top */
  #mainVisual .pc {
    display: block;
  }

  #mainVisual .sp {
    display: none;
  }

  /* profile */
  #profile {
    max-width: 920px;
    margin: 0 5% 130px 5%;
    padding: 0;
  }

  #profile section {
    float: left;
    width: 30%;
    height: auto;
    margin-right: 5%;
  }

  /* interest */
  #interest {
    max-width: 920px;
    margin: 0 5% 130px 5%;
    padding: 0;
  }

  #interest section {
    float: left;
    width: 30%;
    height: auto;
    margin-right: 5%;
    margin-bottom: 0;
  }

  #interest section.last {
    margin-right: 0;
    margin-bottom: 0;
  }

  #interest section .icon {
    margin-bottom: 40px;
    text-align: center;
  }

  #interest section .icon img {
    width: 98px;
    height: 102px;
  }

  /* link */
  #link {
    max-width: 920px;
    margin: 0 5% 130px 5%;
    padding: 0;
  }

  #link section {
    float: left;
    width: 30%;
    height: auto;
    margin-right: 5%;
  }

  #link section.last {
    margin-right: 0;
  }

  #link section .icon {
    margin-bottom: 40px;
    text-align: center;
  }

  #link section .icon img {
    width: 98px;
    height: 102px;
  }

  #link section {
    margin-bottom: 0;
  }

  #link section.last {
    margin-bottom: 0;
  }

  #main h3.ttl {
    margin-bottom: 16px;
    font-size: 22px;
  }

  #main p.ttl {
    margin-bottom: 45px;
    font-size: 12px;
    letter-spacing: 0.1em;
  }

  .toTop a {
    display: block;
    width: 24px;
    margin: 0 auto 20px auto;
    padding: 8px 20px;
  }
}

/* PC向けレイアウトの指定：961px～ */
@media only screen and (min-width: 961px) {
  /* profile */
  #profile {
    width: 920px;
    margin: 0 auto 130px auto;
    padding: 0;
  }

  #profile section {
    float: left;
    width: 280px;
    height: auto;
    margin-right: 40px;
  }

  /* interest */
  #interest {
    width: 920px;
    margin: 0 auto 130px auto;
    padding: 0;
  }

  #interest section {
    float: left;
    width: 280px;
    height: auto;
    margin-right: 40px;
  }

  #link {
    width: 920px;
    margin: 0 auto 130px auto;
    padding: 0;
  }

  #link section {
    float: left;
    width: 280px;
    height: auto;
    margin: auto;
  }

  #main h2.ttl {
    margin-bottom: 65px;
    font-size: 50px;
  }

  #main h3.ttl {
    font-size: 25px;
  }

  #main p.ttl {
    font-size: 14px;
  }
}

/* PC向け */
